.add-option-error{
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

.add-option{
    display:flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input{
    flex-grow: 1;
    background: $dark-blue;
    color: $off-white;
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue,10%);
    margin: 0 0 $s-size 0;
    padding: $s-size;
}

@media (min-width:$desktop-breakpoint){     //For Desktops
    .add-option{
        flex-direction: row;
    }
    .add-option__input{
        margin-right: $s-size;
    }
}