//Widget header
.widget-header{
    background-color: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title{
    margin:0;
    //padding: $s-size;
}

//Widget

.widget{
    background-color: $light-blue;
    margin-bottom: $xl-size;
}

.widget--para{
    color: $off-white;
    padding: $l-size;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid lighten($light-blue,10%);
}